/* 
    Document   : front
    Created on : Apr 15, 2013, 11:59:07 AM
    Author     : Kiran Gurung
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    margin: auto;
    padding:  0;
    font-family: 'Terminal Dosis', sans-serif;
    color: #333;
    background: black; /* #CCC background color */ 
    
}

#main{
    border:  #A9A9A9 solid 1px;
}

.infoWindow { width: 220px; }

#leftmain{
    border: black solid 1px;
    background-color: #D3D3D3;
}

#map_canvas{
    border: black solid 1px;
    background-color: white;
}

#directions{
    float: right;
    background-color: #D3D3D3; /*#A9A9A9;*/
    border-left: none;
    overflow-y: scroll;
    height: 350px;
    width: 305px;
    border: black solid 1px;
}

#directionsPanel{
    border-top: none;
}

#directlebel{
    text-align: center;
    padding: 6px 3px;
    color: blue;
    font-size: 20px;
    border-bottom: dashed 1px #000000;
    background-color: #696969;
}


#tab{
    display: block;
    position: relative;
    overflow: hidden;
}
ul#tabid{
    margin: 1px;
    padding: 0px;
}

#tabid li{
    display: inline-block;
    padding: 0px;
}
#tabid li a{
    padding: 5px 3px 5px 3px;
    display: block;
    border: #333 solid 1px;
    background: border-box;
    color: #E6E6FA;
    text-align: center;
    text-decoration: none;
    background-color: #696969;
}

#tabid li a:hover{
    font-weight: 550;
    background-color: #778899;
    color: blue;
}
#tabpan1{
    display: block;
    position: relative;
    border-bottom: #778899 dashed 1px;
    background-color:  #A9A9A9;
}

#tabpan2{
    
    display: none;
    position: relative;
    border-bottom: #778899 dashed 1px;
    background-color:  #A9A9A9;

}

#tabpan3{
    
    display: none;
    position: relative;
    border-bottom: #778899 dashed 1px;
    background-color: #A9A9A9;

}

#tabdisplay{
    display: block;
    position: relative;
    border-bottom: #778899 dashed 1px;
    background-color: #A9A9A9;
}

/* custom parts css*/
#detailsView1{
    display: block;
    position: relative;
    width: 100%;
}

#detailsView2{
    display: none;
    position: relative;
    width: 100%;
}



#tabdisplay table{
    display: block;
    width:100%;
}


#location{
    display: block;
    position: relative;
    border-bottom: #778899 dashed 1px;
    height: 200px;
}

.clearfix {
    zoom: 1;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.lfloat{
    float: left;
}
.rfloat{
    float: right;
}




#search1{
    display: block;
    font-size: 16px;
    font-weight: normal;
}

#search2{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#search2 li.last{
    margin: 10px 0 10px 0;
}

input{
    margin: 10px 0px 2px 5px;
    font-family: 'Terminal Dosis', sans-serif;
    font-size: 15px;
    padding: 5px 3px;
    border: 0px;
    box-shadow: 0px 0px 6px #999;
}

input[type="text"] {
    margin-left: 2px;
    padding: 5px 2px;
    width: 195px;
    box-shadow: 0px 0px 6px #999;
}

input[type="submit"]{
    width: 100px;
    border-radius: 12px;
    margin-top: 14px;
    background-color: appworkspace;

}


select.selectType{
    font-family: 'Terminal Dosis', sans-serif;
    padding-left: 5px;
    min-width: 200px;
    padding: 5px 3px 5px 3px;
    box-shadow: 0px 0px 6px #999;
}


#submitdiv{
    margin: 38px 0 10px 0px; 
    font-size: 13px;
    padding: 3px;
}

table{
    display: block;
    table-layout: auto;
    border-collapse: collapse;
    padding: 5px 3px 5px 1px;
    margin-left: -2px;
}

thead th#padhead{
    font-size: 18px;
    padding: 10px 3px;
    text-align: center;
    color: #2F4F4F;
}

.pan23tabl2 th{
    font-size: 16px;
    font-weight: normal;
    color: #2F4F4F;
}

.pan23tabl2 tbody td label{
    padding-left: 3px;
}

.pan23tabl2 tfoot td{
    padding-top: 25px;
}

td{
    text-align: left;
}

.bttn {
    font-family: Geneva,Arial,Helvetica,sans-serifs;
    text-decoration:none;
    cursor:pointer;
    font-size: 11px;
    padding:0 8px;
    font-weight:bold;
    height: 30px;
    line-height: 30px;
    display:inline-block;
    outline:0;
    color:#444;
    background-color:#f5f5f5;
    background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image:linear-gradient(top,#f5f5f5,#f1f1f1);
    border:1px solid #d9d9d9;
    border:1px solid rgba(0,0,0,0.1);
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.bttn:hover {
    border:1px solid #c6c6c6;
    border:1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    position:relative;
    z-index:1;
    text-decoration: none;
}
.bttn:active {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
}
.blue {
    color:#fff;
    background-color:#4D90fe;
    border:1px solid #3079ed;
    background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image:linear-gradient(top,#4d90fe,#4787ed);
}
.blue:hover {
    background-color:#357aeb;
    border:1px solid #2F5bb7;
    background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image:-moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image:linear-gradient(top,#4d90fe,#357ae8);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.blue:active {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
}
/* .yellow */
.yellow {
    color:#867343;
    background-color:#ffe07b;
    border:1px solid #fddb69;
    background-image:-webkit-linear-gradient(top,#ffe896,#ffe07b);
    background-image:-moz-linear-gradient(top,#ffe896,#ffe07b);
    background-image:linear-gradient(top,#ffe896,#ffe07b);
}
.yellow:hover {
    background-color:#ffda73;
    border:1px solid #deb74f;
    background-image:-webkit-linear-gradient(top,#ffe485,#ffda73);
    background-image:-moz-linear-gradient(top,#ffe485,#ffda73);
    background-image:linear-gradient(top,#ffe485,#ffda73);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.yellow:active {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
} 
.modeMenu, modeMenu li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.modeMenu li{
    border: none;
    display: block;
}
.modeMenu li label{
    padding-left: 3px;
}




